<template>
  <div class="grid grid-cols-7 h-screen">
    <div id="map" class="col-span-5"></div>
    <div
      class="col-span-2 bg-cover bg-center flex justify-center items-center"
      style="
        background-image: url('https://c4.wallpaperflare.com/wallpaper/214/252/849/scania-truck-vehicle-wallpaper-preview.jpg');
      "
    >
      <div class="flex min-h-screen items-center justify-center p-12">
        <form action="">
          <div>
            <div class="rounded-[calc(1.5rem-1px)] bg-white px-10 p-12">
              <div class="mb-8 flex flex-col items-center">
                <img
                  src="https://i.pinimg.com/originals/13/8b/9b/138b9b22dbc85be57c3898716fcdfd4c.jpg"
                  width="150"
                  alt=""
                  srcset=""
                />
                <h1 class="mb-2 text-2xl">Vehicle loading simulator</h1>
              </div>
              <div class="mt-8 space-y-8">
                <div class="space-y-6">
                  <input
                    class="w-full bg-transparent text-gray-600 rounded-md border border-gray-300 px-3 py-2 text-sm placeholder-gray-600 invalid:border-red-500"
                    placeholder="Enter the vehicle id"
                    type="text"
                    name="vehicle_id"
                    id="vehicle_id"
                  />

                  <input
                    class="w-full bg-transparent text-gray-600 rounded-md border border-gray-300 px-3 py-2 text-sm placeholder-gray-600 invalid:border-red-500"
                    placeholder="Enter the trip id"
                    type="text"
                    name="trip_id"
                    id="trip_id
"
                  />
                </div>

                <!-- component -->
                <div class="flex flex-col">
                  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                      <div class="overflow-hidden">
                        <table class="min-w-full text-center">
                          <thead class="border-b">
                            <tr>
                              <th
                                scope="col"
                                class="text-sm font-medium text-gray-900 px-6 py-4"
                              >
                                Camion
                              </th>
                              <td
                                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                              >
                                Scania
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="border-b">
                              <th
                                scope="col"
                                class="text-sm font-medium text-gray-900 px-6 py-4"
                              >
                                Eli ysouk
                              </th>
                              <td
                                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                              >
                                Mouhedin
                              </td>
                            </tr>
                            <tr>
                              <th
                                scope="col"
                                class="text-sm font-medium text-gray-900 px-6 py-4"
                              >
                                Address tawa
                              </th>
                              <td
                                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                              >
                                rabi eli ya3lem
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex items-center justify-between text-red-500 border border-red-500 bg-white font-mono text-sm py-3 px-4 rounded-md"
                >
                  <div class="flex gap-1">
                    <span>est vide maintenant</span>
                  </div>
                  <span
                    class="flex text-red-500 cursor-pointer w-5 h-5 hover:text-red-200 duration-200"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
                      />
                    </svg>
                  </span>
                </div>
                <!--      <div
                  class="flex items-center justify-between text-green-500 border border-green-500 bg-white font-mono text-sm py-3 px-4 rounded-md"
                >
                  <div class="flex gap-1">
                    <span> est chargee maintenant </span>
                  </div>
                  <span
                    class="flex text-green-500 cursor-pointer w-5 h-5 hover:text-red-200 duration-200"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
                      />
                    </svg>
                  </span>
                </div>-->
                <button
                  class="h-9 px-3 w-full bg-blue-600 hover:bg-blue-700 active:bg-blue-800 focus:bg-blue-700 transition duration-500 rounded-md text-white"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>


<script setup>
import { ref, onMounted } from "vue";
import {
  of,
  from,
  Subject,
  BehaviorSubject,
  combineLatest,
  concatMap,
  distinct,
} from "rxjs";
import {
  filter as filterOp,
  groupBy,
  bufferTime,
  mergeMap,
  switchMap,
  reduce,
  map,
  toArray,
  scan,
  take,
  delay,
  tap,
} from "rxjs/operators";
import L from "leaflet";
import "leaflet/dist/leaflet.css";
import trip from "@/db/trip-1.json";
const marker = ref(null);

onMounted(() => {
  const map = L.map("map", {
    center: L.latLng(trip[0].lat, trip[0].lng),
    zoom: 18,
  });
  const key = "CC10Hk7gka3rFNRo4TK5";

  L.tileLayer(
    `https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=${key}`,
    {
      //style URL
      tileSize: 512,
      zoomOffset: -1,
      minZoom: 1,
      attribution:
        '\u003ca href="https://www.maptiler.com/copyright/" target="_blank"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href="https://www.openstreetmap.org/copyright" target="_blank"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e',
      crossOrigin: true,
    }
  ).addTo(map);

  from(trip)
    .pipe(
      concatMap((item) => from([item]).pipe(delay(1500))),
      tap((item) => {
        if (marker.value) {
          map.removeLayer(marker.value);
        }

        marker.value = L.marker(item).addTo(map);
      }),
      bufferTime(3000),
      tap((item) => {
        console.log(item);
      })
    )

    .subscribe((item) => {});
});
</script>
